<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--로그 색깔 입히기-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!--반복 되는 속성 사용을 위한 정의-->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %logger - %highlight(%msg%n)" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n" />

    <!--로깅 레벨 전역 설정-->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!--로깅 레젤 지역 설정-->
    <logger name="com.travelland" level="INFO" />

    <!--ConsoleAppender 생성-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--RollingFileAppender-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--저장할 경로 및 생성할 파일 이름 설정-->
            <fileNamePattern>./log/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--전체 파일 용량 설정-->
            <totalSizeCap>30MB</totalSizeCap>
            <!--파일당 최대 용량 설정-->
            <maxFileSize>1MB</maxFileSize>
            <!--보관할 최대 파일 개수-->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>
</configuration>